<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>index</title>
    <script src="https://cdn.wilddog.com/sdk/js/current/wilddog.js"></script>
    <script src="https://cdn.jsdelivr.net/vue/1.0.20/vue.js"></script>
    <script src="js/wildvue.js"></script>
  </head>
  <body>

    <div id="app">
    	<div>
    		<p>请先输入你的名字拼音然后再发送消息</p>
    		<input type="text" id="name"/>
    		<input type="button" value="确定" id="btn"/>
    	</div>
      <ul>
        <li v-for="item in items" track-by=".key">
          {{ item.text }}
          <button @click="removeTodo(item['.key'])">X</button>
        </li>
      </ul>
      <form @submit.prevent="addTodo">
        <input v-model="newTodo">
        <button>Add #{{ items.length }}</button>
      </form>
    </div>
		<script src="js/jquery-3.1.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script>
      /* global Vue, Wilddog */
     
     
//   var url;
//   var itemsRef;
//   $("#btn").on('click',function(){
//   			var name=$("#name").val();
//   			console.log(name);
//   			itemsRef=  new Wilddog('https://zaxsc.wilddogio.com/'+name+'/');
//   })
		var a=123;
     var itemsRef=  new Wilddog('https://zaxsc.wilddogio.com/'+a+'/');
      console.log(itemsRef);
    	
    new Vue({
        el: '#app',
        data: {
          newTodo: '',
          uId:'',
        },
        wilddog: {
          items: itemsRef.limitToLast(25)
        },
        methods: {
          removeTodo: function (key) {
            itemsRef.child(key).remove()
          },
          addTodo: function () {
            if (this.newTodo.trim()) {
              itemsRef.push({
                text: this.newTodo,
                uId:this.uId
              })
              
              this.newTodo = ''
            }
          }
        }
      })
    </script>
  </body>
</html>
